# Python
__pycache__/
*.pyc
*.pyo

# Docker
*.tar
*.log

# Terraform
infra/.terraform/
infra/.terraform.lock.hcl
infra/*.tfstate
infra/*.tfstate.backup
infra/crash.log

# OS
.DS_Store
Thumbs.db

# Secrets
*.env
.env.*
credentials.json
service-account.json
